requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-proto
opentelemetry-exporter-otlp-proto-common
langchain
langchain_community
langchain-huggingface
langchain-groq
chromadb
pypdf
rank_bm25
llama-cpp-python
streamlit
sentence-transformers
