requests==2.32.4
opentelemetry-api==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
langchain==0.3.27
langchain_community==0.3.29
langchain-huggingface==0.1.0
langchain-groq==0.2.0
chromadb==0.3.4
pypdf==3.11.0
rank_bm25==0.2.2
llama-cpp-python==0.1.9
streamlit==1.24.1
sentence-transformers==2.2.2
